
<template>
  <div class="todos">
    <div v-for="todo in todos" :key="todo.id" class="todo-item">
      {{todo.title}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'todo-list',
  data () {
    return {
      newTodo: '',
      beforeEditCache: '',
      todos: [
        {
          'id': 1,
          'title': 'Get started with vue',
          'completed': false,
          'editing': false,
        },
        {
          'id': 2,
          'title': 'Connect laravel',
          'completed': false,
          'editing': false,
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: heavy;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
